/* fonts */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
  }
  
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
  }

  /* global */

 html {
    height: 100%;
}

body {
    min-width: 1370px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    background-color: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
    border-radius: 26px;
    padding: 12px 30px;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button:hover {
    background: rgba(252, 252, 252, 0.4);
    border: 4px solid #FCFCFC;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
    border-radius: 26px;
}

.button:focus,
.button:active {
    background: #FCFCFC;
    border: 4px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
    background: #E7E7E7;
    border: 4px solid rgba(252, 252, 252, 0.4);
    color: #E7E7E7;
}

.title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #2D3440;
    margin-top: 0;
}

.title-center {
    margin-bottom: 56px;
}

.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin: 0;
}



/* header */

.page-header {
    color: #565C66;
    background-color: #FEAFC3;
}

.navigation {
    display: flex;
    align-items: flex-start;
    width: 1170px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin: 0;
    margin-top: 35px;
    margin-left: 10px;
    padding: 0;
    width: 500px;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.navigation-user {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    list-style: none;
    margin: 0;
    margin-top: 35px;
    margin-left: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.navigation-item {
    position: relative;
    margin-right: 0px;
}

.navigation-link {
    display: block;
    color: #2D3440;
    text-decoration: none;
    padding: 5px 16px;
    border-radius: 26px;
    border: 2px solid transparent;
}


.navigation-user .navigation-link {
    display: flex;
    margin-left: 15px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 26px; 
    padding-left: 14px;   
}

.navigation-user .navigation-link-search {
    padding: 6px;
}

.navigation-link:hover {
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus {
    border: 2px solid #2D3440;
}

.navigation-link:active {
    background: #FCFCFC;
    border: 2px solid #FCFCFC;
}


.navigation-svg {
    padding-right: 6px;
    padding-top: 2px;
}

.main-logo {
    padding: 24px 0px;
}

.number {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-right: 5px;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

/* popover */

.popover {
    font-family: "Inter", sans-serif;
    color: #242424;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
}

.popover-catalog {
    width: 138px;
    top: 40px;
    border-radius: 4px;
    display: none;
}

.popover-title-catalog {
    margin: 16px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.popover-title-new {
    text-decoration: none;
    color: #2D3440;
}

.catalog-menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid #B9B9B9;
    font-weight: normal;
    list-style: none;
    padding: 0;
}

.menu-item {
    margin: 0;  
    padding: 8px 16px;
}

.menu-item a {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.menu-item:hover {
    background: #FFCBD8;
}

.menu-item:active {
    background: #FF7799;
}

.menu-item:focus {
    background: #FF4A78;
}

.popover-content {
    height: 100%;
}

.popover-open {
    display: block;
}

.popover-search {
    width: 356px;
    padding: 24px 16px;
    min-height: 96px;
    top: 35px;
    right: 0;
    border-radius: 4px;
    display: none;
}

.popover-cart {
    width: 420px;
    padding: 48px;
    padding-bottom: 52px;
    min-height: 350px;
    top: 35px;
    right: 0;
    border-radius: 4px;
    display: none;
}

.popover-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    margin: 0;
    margin-bottom: 32px;
}

.personal-area-form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin: 0;
}

.form-field + .form-field {
    margin-top: 16px;
}

.form-section-but {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.form-section-but .button-send {
    margin-right: 23px;
}

.popover-form-link {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    border-bottom: 1px solid #2D3440;
}

.popover-busket {
    width: 288px;
    min-height: 156px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #2D3440;
    padding: 48px;
    top: 35px;
    right: 0;
    border-radius: 4px;
    display: none;
}


/* promo */

.main-promo{
    margin-bottom: 75px;
}

.promo {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: #2D3440;
    margin-top: 0;
    margin-bottom: 23px;
}


.promo-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.promo-item {
    display: flex;
    justify-content: space-around;
    width: 1170px;
    opacity: 0.4;
}

.promo-item-active {
    order: -1;
    opacity: 1;
    margin-right: 15px;
}

.promo-item-active .promo-description,
.promo-item-active .button-slide {
    display: block;
}

.promo-item-active  .ice-cream {
    width: 300px;
    height: 507px;
    margin-top: -10px;
    
}


.promo-image::before {
    content: '';
    width: 100px;
    height: 100px;
    background: #FFCBD8;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: -1;
}

.promo-item .promo-image::before {
    top: 20px;
    left: -12px;
}

.promo-item-active .promo-image::before {
    width: 310px;
    height: 310px;
    left: calc(50% - 310px/2 + 4px);
    top: calc(50% - 310px/2);
    position: absolute;
    content: "";
}


.promo-description {
    width: 455px;
    margin: 132px 70px;
    margin-bottom: auto;
    margin-right: 0;
    display: none;
}

.promo-text {
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
    margin: 0;
    margin-bottom: 45px;
}

.slider-pagination {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.slider-pagination-item {
    margin-right: 5px;
}

.slider-pagination-button {
    width: 12px;
    height: 13px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: white;
    opacity: 0.3;
    transform: scale(0.8);
}

.slider-pagination-button-current {
    opacity: 1;
}

.slider-pagination-button:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
}

.promo-image {
    display: flex;
    align-items: center;
    position: relative;
    height: min-content;
    margin-top: 25px;
}


.button-slide {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    box-sizing: border-box;
    border-radius: 50%; 
    display: none;   
}

.button-slide:hover {
    cursor: pointer;
    background-color: #FCFCFC;
}

.button-slide:hover .button-svg {
    stroke: black;
}

.button-slide:focus {
    border: 2px solid #2D3440;
    stroke: black;
    background: rgba(252, 252, 252, 0.3);
}

.button-slide:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
    stroke: rgba(252, 252, 252, 0.3);
}

.button-left {
    position: relative;
    left: 16px;
    top: -1px;
}

.button-right {
    transform: scale(-1,1);
    position: relative;
    left: -9px;
    top: -1px;
}

.promo-item-footer {
    display: flex;
    margin: 0;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    min-height: 24px;
    width: 430px;
}

.promo-social-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-left: auto;
}

.promo-social-item {
    margin: 0;
    margin-left: 10px;
    min-width: 28px;
}

.button-social-svg {
    border: 2px solid rgb(99%, 99%, 99%, 0.3);
    border-radius: 50%;
}


.button-social:hover .button-social-svg{
    border: 2px solid #febfcf;
    background-color: #2D3440;
    border-radius: 50%;
}

.button-social:focus .button-social-svg{
    background: #2D3440;
    border: 2px solid #2D3440;
    border-radius: 50%;
}


/* presents */

.presents{
    margin-bottom: 80px;
}

.main-offers {
    display: flex;
    gap: 29px;
    margin: 0;
    padding: 0;
}

.offers {
    display: flex;
    width: 570px;
    min-height: 268px;
    padding-left: 40px;
    padding-right: 15px;
    background-color: #FF7799;
    border-radius: 16px;
    color: #2D3440;
}

.offers-text {
    margin: 40px 0;
    margin-bottom: 35px;
}

.offers-text .text {
    color: #2D3440;
    margin-bottom: 30px;
}

.offers-tittle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 16px;
}


.offers-img {
    margin-top: auto;
}

.button-presents {
    margin-top: auto;
}

.offers-ice {
    margin-top: auto;
}

/* popular-ice */

.popular-ice{
    margin-bottom: 80px;
}

.variation-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 91px 30px;
    padding: 0;
    list-style: none;
    padding-right: 0;
    margin-top: 108px;
}

h4 {
    padding: 3px 0;
    padding-bottom: 9px;
    margin: 0;
}

.variation-item {
    background-color: #FCFCFC;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2D3440;
    width: 270px;
    justify-content: space-between;
    padding: 24px 40px;
    padding-top: 0;
    box-sizing: border-box;
}

.variation-img {
    margin-top: -41px;
    transform: scale(1.1);
}

.variation-card-text {
    margin-bottom: 16px;
}

.variation-item:nth-child(4n) {
    margin-right: 0;
}

.price-ice-cream {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ice-price {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.button-variation {
    width: 32px;
    height: 32px;
    background-color: #FF2F64;
    border-radius: 26px;
    border: none;
}

.button-variation:hover {
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FF2F64;
}

.button-variation:hover path {
    stroke: black;
    fill: black;
}

.button-variation:focus {
    border: 2px solid #2D3440;
    background: #FF2F64;
}

.button-variation:disabled {
    background: #B9B9B9;
    background-image: url("../img/buskcet-icon-disabled.svg")
}

/* advantages */

.advantages {
    width: 1170px;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 80px;
    background-image: url("../img/background-wafle.jpg");
    background-size: cover;
    border-radius: 16px;
}

.advantages-wrap {
    background-color: #FCFCFC;
    border-radius: 16px;
    width: 1122px;
    padding: 57px 0;
    padding-bottom: 16px;
}

.title-advantages {
    margin-bottom: 57px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 0 40px;
    padding: 0;
    list-style: none;
}

.advantages-item {
    display: flex;
    align-items: flex-start;
}

.advantages-text {
    width: 442px;
    margin: 0;
    margin-bottom: 41px;
}

.advantages-img {
    margin-right: 16px;
}


/* blog */

.blog {
    margin-bottom: 75px;
}

.blog-sections {
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.article {
    border-radius: 16px;
    width: 570px;
    background-repeat: no-repeat;
    background-image: url("../img/background-blog.jpg");
    background-size: cover;
    padding: 33px 32px;
    padding-right: 230px;
    box-sizing: border-box;
}

.article-text {
    width: 303px;
}

.new-post {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-top: 11px;
}

.subscription-section {
    width: 558px;
    min-height: 208px;
    background-color: #FCFCFC;
    border-radius: 16px;
    background-image: url("../img/subscription-background.jpg");
    background-size: cover;
    padding: 6px;
}

.subscription {
    background: #FCFCFC;
    border-radius: 16px;
    padding: 26px;
    padding-bottom: 24px;
    height: 100%;
    box-sizing: border-box;
}

.subscription-text {
    padding-bottom: 41px;
}


.post-link {
    text-decoration: none;
    color: #2D3440;
}

.subscription-form {
    display: flex;
    justify-content: space-between;
}
.field-email {
    width: 333px;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 20px;
}

.subscription-email {
    margin: 0;
    margin-right: 19px;
    width: 100%;
}

.button-send {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    background-color: #FF2F64;
    border-radius: 26px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    padding: 12px 32px;
}

.button-send:hover {
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.3);
    border: 4px solid #FF2F64;
    color: #2D3440;
}

.button-send:focus {
    background-color: #FF2F64;
    border: 4px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    color: #2D3440;
}

.button-send:active {
    color: #FCFCFC;;
}

.button-send:disabled {
    background: #B9B9B9;
    border: 4px solid rgba(185, 185, 185, 0.3);
    color: #565C66; 
}

/* delivery */

.delivery {
    background-repeat: no-repeat;
    background-image: url("../img/background-delivery.jpg");
    background-size: cover;
    border-radius: 16px;
    width: 1170px;
    min-height: 534px;
    margin-bottom: 80px;
}

.delivery-sections {
    display: flex;
}



.communication {
    width: 500px;
    padding: 40px;
    padding-bottom: 37px;
    margin: 64px;
    background: #FCFCFC;
    border-radius: 8px;
    box-sizing: border-box;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 16px;
    row-gap: 19px;
    margin-top: 17px;
}

.communication-form {
    margin-bottom: 0;
}

.communication-form-date,
.communication-form-tel,
.communication-form-address {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.communication-form-address {
    margin: 0;
    grid-column: 1 / -1;
}

.form-label-icon {
    position: relative;
    padding-right: 16px;
}
  
.info {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: 3px;
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url("../img/info.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.field {
    padding: 13px 16px;
    color: #B9B9B9;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    
}

.field:hover {
    cursor: pointer;
    border-color: #2D3440;
}

.field:hover,
.field:focus {
  border-color: #2D3440;
}

.field:focus {
    border: 1px solid #2D3440;
    border-radius: 4px;
    color: #2D3440;
}

.field:disabled,
.field:disabled:hover {
  color: #2D3440;
  background: #E7E7E7;
  border-color: #B9B9B9;
}


.field:invalid {
  border: 2px solid #EA5454;
}

.field::placeholder {
  color: #B9B9B9;
}

.date-field {
    width: 117px;
    box-sizing: border-box;
    margin-top: 8px;
}

.tel-field {
    width: 287px;
    border-color: #B9B9B9;
    margin-top: 8px;
}

.address-field {
    width: 420px;
    margin-top: 8px;
}

.form-text {
    color: #2D3440;
}

.description {
    margin: 168px 60px 100px 100px;
    width: 500px;
}

.delivery-ice {
    margin: 0;
    margin-bottom: 25px;
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.button-send {
    grid-column: 1 / -1;
    justify-self: center;
}

.delivery-form .button-send {
    margin-top: 8px;
}


/* location */

.location{
    width: 1170px;
    background-repeat: no-repeat;
    background-image: url("../img/background-location.jpg");
    background-size: cover;
    padding: 64px 0;
    border-radius: 16px;
}

.main-location {
    width: 343px;
    margin: 0 64px;
    padding: 40px;
    padding-bottom: 36px;
    background: #FCFCFC;
    border-radius: 8px;
    box-sizing: border-box;
}

.location-text {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin: 0;
}

.location-text-bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    display: inline-block;
    margin: 12px 0 24px 0;
}

h3 {
    margin: 0;
}

.location-number {
    margin: 0;
    margin-top: 14px;
}

.main-location .text {
    font-size: 14px;
    line-height: 20px;
}

.main-location .button-send {
    margin-top: 27px;
    padding: 13px 32px;
}


/* footer */


.page-footer-container {
    display: flex;
    align-items: flex-start;
    width: 1170px;
    min-height: 120px;
    margin: 0 auto;
    padding-top: 35px;
}

.page-footer {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;  
}

.footer-social-list {
    padding: 0;
    margin-top: 5px;
    margin-right: 30px;
}

.footer-social-list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 2px;
}

.footer-social-item {
    margin: 0;
    margin-right: 11px;
    min-width: 28px;
}

.additionally {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.additionally-info-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    flex-direction: column;
    column-gap: 25px;
    row-gap: 8px;
    max-width: 360px;
    list-style: none;
    margin-top: 13px;
}

.additionally-link {
    text-decoration: none;
    color: #2D3440;
}

.additionally-info-item-fav {
    font-weight: bold;
    position: relative;
}

.additionally-info-item-fav::after {
    content: url("../img/favorite-svg.svg");
    position: absolute;
    left: -22px;
    top: 2px;
}


.copyright {
    width: 200px;
    margin-left: auto;
    margin-right: 8px;
}

.about-text {
    margin-top: 9px;
    font-size: 12px;
    line-height: 16px;
}

.logo-htmlacademy {
    margin-top: 13px;
}

.htmlacademy-link {
    color: #2D3440;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 52, 64, 0.4);;
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px;
    background-color: #FCFCFC;
    border-radius: 8px;
    width: 570px;
}

.modal-close-button {
    position: absolute;
    padding: 32px;
    top: 0;
    right: 0;
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border: none;
    background-image: url("../img/button-close-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 8px;
} 

.modal-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
    margin: 0;
    margin-bottom: 32px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.button-send-auth {
    display: flex;
    margin-top: 32px;
    margin-left: auto;
}


/* CATALOG */

/* HEADER */

.navigation-list-catalog {
    margin-top: 33.5px;
    margin-left: 16px;
}

.navigation-link-active {
    text-decoration: none;
    color: #FCFCFC;
    background-color: #FF4A78;
    border-radius: 26px;
    padding: 6px 14.5px;
}

.navigation-link-active:hover {
    color: #2D3440;
}

.inner-header {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 27px;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 28.5px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    font-weight: bold;
}

.breadcrumbs-item::after {
    position: absolute;
    width: 7px;
    height: 6px;
    top: -2px;
    right: -18px;
    content: url("../img/breadcrumbs-arrow.svg");
}

.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-item:last-child {
    border-bottom: none;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #2D3440;
}

.inner-header-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 40px;
}

.catalog-products {
    color: #2D3440;
}

.sorting-filter {
    display: flex;
    flex-direction: column;
    margin-right: 44px;
}

.sorting-type {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 83px;
}

.select-control {
    width: 196px;
    border-radius: 20px;
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    appearance: none;
    background-image: url(../img/arrow-sorting.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-color: rgb(99%, 99%, 99%, 0.3);
}

.select-control:hover {
    cursor: pointer;
    background-color: rgb(99%, 99%, 99%, 0.5);
}

.select-control:focus {
    background-color: rgb(99%, 99%, 99%, 0.4);
    outline: 3px solid #FCFCFC;
}

.catalog-filter-list {
    display: flex;
    list-style: none;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    padding: 8px 16px;
    margin: 0;
    margin-top: 8px;
}

.catalog-filter-item {
    margin-right: 17px;
}

.catalog-filter-item:last-child {
    margin: 0;
}

.catalog-filter-group {
    border: none;
    margin-right: 24px;
    margin-bottom: 16px;
    margin-left: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.catalog-filter-title {
    padding-left: 16px;
}

.filter-title {
    margin: 0;
    padding-left: 16px;
}

.group-range {
    width: 196px;
}

.range-siction {
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    padding: 17px 16px;
    margin-top: 8px;
}

.range {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
}

.catalog-filter-label {
    display: flex;
    margin-right: 5px;
}

.range-input {
    width: 30px;
    padding: 0;
    text-align: center;
    background-color: transparent;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}
  
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-scale {
    position: relative;
    height: 2px;
    margin: 0 auto;
    background-color: rgba(86, 92, 102, 0.3);
    border-radius: 2px;
    width: 164px;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #565C66;
    top: 0;
}

.range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color:#2D3440;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

.range-toggle::before {
    position: absolute;
    left: 4px;
    top: 4px;
    content: "";
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: white;
}

.range-toggle:hover::before,
.range-toggle:active::before {
    background-color: #2D3440;
}

.range-toggle:hover {
    background-color: #FCFCFC;
}

.range-toggle:active {
    background-color: #2D3440;
}
  
.range-toggle:focus {
    border: 2px solid #2D3440;
} 

.toggle-min {
    top: -6.5px;
    left: -16px;
    position: absolute;
}
  
.toggle-max {
    top: -6.5px;
    right: -16px;
}

.control {
    position: relative;
    display: block;
    padding-left: 24px;
}

.control:hover .control-mark-radio {
    border-color: white;
}

.control:disabled .control-mark-radio {
    border-color: rgba(45, 52, 64, 0.3);
}

.control-mark-radio {
    position: absolute;
    top: 2.5px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 2px solid #242424;
    border-radius: 50%;
}

.input-radio + .control-mark-radio:hover {
    border: 2px solid white;
}

.input-radio:checked + .control-mark-radio::before {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    background-color: #242424;
    border-radius: 50%;
    content: "";
}

.input-radio:checked:hover + .control-mark-radio::before {
    background-color: white;
    border-color: white;
}

.input-radio:checked:disabled + .control-mark-radio::before {
    background-color: rgba(45, 52, 64, 0.3);
}


/* кнопка с картинкой */

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
}

.control-input + .control-mark::before {
    position: absolute;
    top: .51px;
    left: 0px;
    width: 12px;
    content: url("../img/check-off.svg");
}

.control-input:checked + .control-mark::before {
    content: url("../img/check-on.svg");
}

.fruit {
    margin-left: 8px;
}
  

.catalog-filter-button {
    margin-top: 26px;
}


.button-filters {
    padding: 8px 51.5px;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 26px;
    font-size: 14px;
    line-height: 20px;
}

.button-filters:hover {
    background: #FCFCFC;
    border: 2px solid rgb(100%, 69%, 76%, 0.3);
}

.button-filters:focus {
    border: 2px solid #2D3440;
}

.button-filters:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
}


/* popover-catalog */

.popover-busket-catalog {
    padding: 48px;
    background: #FCFCFC;
    border-radius: 4px; 
    width: 441px;
    min-height: 382px;
    top: 35px;
    right: 0;
    display: none;
}

.cart-items-list {
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    list-style: none;
}

.cart-item + .cart-item {
    margin-top: 24px;
}



.product-info {
    width: 160px;
    margin-left: 15px;
}

.cart-item-title, 
.cart-item-price {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;
    margin: 0;
}

.cart-item-title {
    margin-bottom: 4px;
}

.product--price-info {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #B9B9B9;

}

.cart-item-button {
    border: none;
    margin-left: auto;
    padding: 20px;
    padding-right: 0;
    background-color: transparent;
}

.checkout {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid #E7E7E7;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 115px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;
}

.result-text {
    margin: 0;
}



/* catalog-card */

.product-card {
    border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.product-card-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 91px 30px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
}

.product-card-item {
    background: #FCFCFC;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    width: 270px;
    height: 281px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.pagination-wrap {
    display: flex;
    justify-content: space-between;
    padding: 38px 0 0 491px;
    margin-bottom: 74px;
}

.pagination-show-more {
    padding: 12px 32px;
}

.pagination element {
    display: flex;
}

.pagination-link {
    text-decoration: none;
    color: #2D3440;
    padding: 2px 7px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.pagination-link:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
}

.pagination-link:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #2D3440;
}

.pagination-disabled {
    opacity: 0.2;
    margin-right: 15px;
}

.pagination-current {
    background: #FCFCFC;
    border-radius: 50%;
    padding: 2px 7px;
}

.reverse {
    transform: scale(-1,1);
}

.pagination-next {
    padding: 0 2px;
    margin-left: 21px;
}






