/* fonts */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
  }
  
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
  }

  /* global */

 html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    background-color: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
    border-radius: 26px;
    padding: 12px 32px;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button:hover {
    background: rgba(252, 252, 252, 0.4);
    border: 4px solid #FCFCFC;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
    border-radius: 26px;
}

.button:focus {
    background: #FCFCFC;
    border: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
    background: #E7E7E7;
    border: 4px solid rgba(252, 252, 252, 0.4);
    color: #E7E7E7;
}

.title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #2D3440;
    margin-top: 0;
}

.title-center {
    margin-bottom: 56px;
}

.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin: 0;
}



/* header */

.page-header {
    color: #565C66;
    background-color: #FEAFC3;
    margin-bottom: 32px;
}

.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin: 0;
    padding: 0;
    width: 400px;
    list-style: none;
}

.navigation-user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.navigation-link {
    display: block;
    color: #2D3440;
    text-decoration: none;
    padding: 6px 17px;
    border-radius: 26px;
}

.navigation-user .navigation-link {
    display: flex;
    margin-left: 18px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 26px;
}

.navigation-link:hover {
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:focus {
    border: 2px solid #2D3440;
}

.navigation-link:active {
    background: #FCFCFC;
    border: none;
}


.navigation-svg {
    padding-right: 8px;
}

.main-logo {
    padding: 24px 16px;
}

.number {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0   ;
}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1170px;
    margin: 0 auto;
}

/* promo */

.main-promo{
    margin-bottom: 80px;
}

.promo {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: #2D3440;
    margin-top: 0;
    margin-bottom: 24px;
}


.promo-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.promo-item {
    display: flex;
    justify-content: space-around;
    width: 1170px;
    opacity: 0.4;
}

.promo-item-active {
    order: -1;
    opacity: 1;
}

.promo-item-active .promo-description,
.promo-item-active .button-slide {
    display: block;
}

.promo-item-active  .ice-cream {
    width: 306px;
    height: 507px;
    
}

.promo-image::before {
    content: '';
    width: 100px;
    height: 100px;
    background: #FFCBD8;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: -1;
}

.promo-item .promo-image::before {
    top: 30px;
    left: -12px;
}

.promo-item-active .promo-image::before {
    width: 345px;
    height: 345px;
    left: calc(50% - 345px/2 + 3px);
    top: calc(50% - 345px/2);
}


.promo-description {
    width: 470px;
    margin: 136px 70px;
    margin-right: 0;
    display: none;
}

.promo-text {
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
    margin: 0;
    margin-bottom: 48px;
}

.slider-pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.slider-pagination-item {
    margin-right: 10px;
}

.slider-pagination-button {
    width: 12px;
    height: 13px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: white;
    opacity: .3;
}

.slider-pagination-button-current {
    opacity: 1;
}

.slider-pagination-button:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
}

.promo-image {
    display: flex;
    align-items: center;
    position: relative;
}


.button-slide {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    box-sizing: border-box;
    border-radius: 50%; 
    display: none;   
}

.button-slide:hover {
    cursor: pointer;
    background-color: #FCFCFC;
}

.button-slide:hover .button-svg {
    stroke: black;
}

.button-slide:focus {
    border: 2px solid #2D3440;
    stroke: black;
    background: rgba(252, 252, 252, 0.3);
}

.button-slide:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
    stroke: rgba(252, 252, 252, 0.3);
}

.button-right {
    transform: scale(-1,1);
}


.promo-item-footer {
    display: flex;
    margin: 0;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    min-height: 24px;
    width: 430px;
}

.promo-social-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-left: auto;
}

.promo-social-item {
    margin: 0;
    margin-left: 5px;
    min-width: 28px;
}

.button-social-svg {
    border: 2px solid rgb(99%, 99%, 99%, 0.3);
    border-radius: 50%;
}


.button-social:hover .button-social-svg{
    border: 2px solid #febfcf;
    background-color: #2D3440;
    border-radius: 50%;
}

.button-social:focus .button-social-svg{
    background: #2D3440;
    border: 2px solid #2D3440;
    border-radius: 50%;
}


/* presents */

.presents{
    margin-bottom: 80px;
}

.main-offers {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.offers {
    display: flex;
    width: 570px;
    height: 268px;
    padding-left: 40px;
    background-color: #FF7799;
    border-radius: 16px;
    color: #2D3440;
}

.offers-text {
    margin: 40px 0;
}

.offers-tittle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 16px;
}


.offers-img {
    margin-top: auto;
}

.button-presents {
    margin-top: 32px;
}

/* popular-ice */

.popular-ice{
    margin-bottom: 80px;
}

.variation-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 91px 30px;
    padding: 0;
    list-style: none;
    padding-right: 0;
    margin-top: 107px;
}

h4 {
    padding: 0;
    padding-bottom: 8px;
    margin: 0;
}

.variation-item {
    background-color: #FCFCFC;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2D3440;
    width: 270px;
    justify-content: space-between;
    padding: 28px 40px;
    padding-top: 0;
    box-sizing: border-box;
}

.variation-img {
    margin-top: -51px;
}

.variation-card-text {
    margin-bottom: 20px;
}

.variation-item:nth-child(4n) {
    margin-right: 0;
}

.price-ice-cream {
    display: flex;
    justify-content: space-between;
}

.button-variation {
    width: 32px;
    height: 32px;
    background-color: #FF2F64;
    border-radius: 26px;
    border: none;
}

.button-variation:hover {
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FF2F64;
}

.button-variation:hover path {
    stroke: black;
    fill: black;
}

.button-variation:focus {
    border: 2px solid #2D3440;
    background: #FF2F64;
}

.button-variation:disabled {
    background: #B9B9B9;
    background-image: url("../img/buskcet-icon-disabled.svg")
}

/* advantages */

.advantages {
    width: 1170px;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 80px;
    background-image: url("../img/background-wafle.jpg");
    border-radius: 16px;
}

.advantages-wrap {
    background-color: #FCFCFC;
    border-radius: 16px;
    width: 1122px;
    padding-top: 56px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 0 40px;
    padding: 0;
    list-style: none;
}

.advantages-item {
    display: flex;
}

.advantages-text {
    width: 442px;
}

.advantages-img {
    margin-right: 16px;
}


/* blog */

.blog {
    margin-bottom: 80px;
}

.blog-sections {
    display: flex;
    justify-content: space-between;
}

.article {
    border-radius: 16px;
    width: 570px;
    background-repeat: no-repeat;
    background-image: url("../img/background-blog.jpg");
    padding: 33px 32px;
    padding-right: 230px;
    box-sizing: border-box;
}

.article-text {
    width: 303px;
}

.new-post {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-top: 12px;
}

.subscription-section {
    width: 558px;
    height: 208px;
    background-color: #FCFCFC;
    border-radius: 16px;
    background-image: url("../img/subscription-background.jpg");
    padding: 6px;
}

.subscription {
    background: #FCFCFC;
    border-radius: 16px;
    padding: 26px;
}

.subscription-text {
    padding-bottom: 42px;
}


.post-link {
    text-decoration: none;
    color: #2D3440;
}

.subscription-form {
    display: flex;
    justify-content: space-between;
}
.field-email {
    width: 332px;
}

.subscription-email {
    margin: 0;
}

.button-send {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    background-color: #FF2F64;
    border-radius: 26px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-send:hover {
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.3);
    border: 4px solid #FF2F64;
    color: #2D3440;
}

.button-send:focus {
    background-color: #FF2F64;
    border: 2px solid #2D3440;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    color: #2D3440;
}

.button-send:active {
    color: #FCFCFC;;
}

.button-send:disabled {
    background: #B9B9B9;
    border: 4px solid rgba(185, 185, 185, 0.3);
    color: #565C66; 
}

/* delivery */

.delivery {
    background-repeat: no-repeat;
    background-image: url("../img/background-delivery.jpg");
    border-radius: 16px;
    width: 1170px;
    height: 534px;
    margin-bottom: 80px;
}

.delivery-sections {
    display: flex;
}



.communication {
    width: 500px;
    padding: 40px;
    margin: 64px;
    background: #FCFCFC;
    border-radius: 8px;
    box-sizing: border-box;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 16px;
}

.communication-form-date,
.communication-form-tel,
.communication-form-address {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.communication-form-address {
    grid-column: 1 / -1;
}

.form-label-icon {
    position: relative;
    padding-right: 16px;
}
  
.info {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: 2px;
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url("../img/info.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.field {
    padding: 14px 16px;
    color: #B9B9B9;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    
}

.field:hover {
    cursor: pointer;
    border-color: #2D3440;
}

.field:hover,
.field:focus {
  border-color: #2D3440;
}

.field:focus {
    border: 2px solid #2D3440;
    border-radius: 4px;
    color: #2D3440;
}

.field:disabled,
.field:disabled:hover {
  color: #2D3440;
  background: #E7E7E7;
  border-color: #B9B9B9;
}

.field:invalid {
  border: 1px solid #EA5454;
}

.field:focus:invalid {
  border: 2px solid #EA5454;
}

.field::placeholder {
  color: #B9B9B9;
}

.date-field {
    width: 117px;
    box-sizing: border-box;
}

.tel-field {
    width: 287px;
}

.address-field {
    width: 420px;
}

.form-text {
    color: #2D3440;
}

.description {
    margin: 80px 60px 100px 100px;
    width: 500px;
}

.delivery-ice {
    color: #2D3440;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.button-send {
    grid-column: 1 / -1;
    justify-self: center;
}


/* location */

.location{
    width: 1170px;
    min-height: 402px;
    background-repeat: no-repeat;
    background-image: url("../img/background-location.jpg");
    margin-bottom: 80px;
    padding-top: 64px;
    border-radius: 16px;
}

.main-location {
    width: 345px;
    margin: 64px;
    margin-top: 0;
    padding: 40px;
    background: #FCFCFC;
    border-radius: 8px;
}

.location-text {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin: 0;
}

.location-text-bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    display: inline-block;
    margin: 12px 0 24px 0;
}

h3 {
    margin: 0;
}

.location-number {
    margin: 0;
}

.main-location .button-send {
    margin-top: 32px;
}


/* footer */


.page-footer-container {
    display: flex;
    width: 1170px;
    height: 155px;
    margin: 0 auto;
    align-items: center;
}

.page-footer {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;  
}

.footer-social-list {
    padding: 0;
    margin-right: auto;
}

.footer-social-item {
    margin: 5px;
}

.additionally {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.additionally-info-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    flex-direction: column;
    column-gap: 25px;
    row-gap: 8px;
    max-width: 360px;
    list-style: none;
}

.additionally-link {
    text-decoration: none;
    color: #2D3440;
}

.additionally-info-item-fav {
    font-weight: bold;
    position: relative;
}

.additionally-info-item-fav::after {
    content: url("../img/favorite-svg.svg");
    position: absolute;
    left: -20px;
    top: 2px;
}


.copyright {
    margin-left: auto;
    margin-right: 14px;
}

.about-text {
    font-size: 12px;
    line-height: 16px;
}

.htmlacademy-link {
    color: #2D3440;
}


/* CATALOG */

/* HEADER */
.navigation-link-active {
    text-decoration: none;
    color: #FCFCFC;
    background-color: #FF4A78;
    border-radius: 26px;
    padding: 8px 16px;
}

.navigation-link-active:hover {
    color: #2D3440;
}

.inner-header {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs-item {
    margin-right: 20px;
    margin-bottom: 16px;
    border-bottom: 2px solid;
    font-weight: bold;
}

.breadcrumbs-item:last-child {
    border-bottom: none;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #2D3440;
}

.inner-header-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 40px;
}

.catalog-products {
    color: #2D3440;
}

.sorting-filter {
    display: flex;
    flex-direction: column;
}

.sorting-type {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 99px;
}

.select-control {
    width: 196px;
    background-color: rgb(99%, 99%, 99%, 0.3);
    border-radius: 20px;
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
}

.select-control:hover {
    cursor: pointer;
    background-color: rgb(99%, 99%, 99%, 0.5);
}

.select-control:focus {
    background-color: rgb(99%, 99%, 99%, 0.4);
    outline: 3px solid #FCFCFC;
}

.catalog-filter-list {
    display: flex;
    list-style: none;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    padding: 8px 16px;
}

.catalog-filter-item {
    padding-right: 10px;
}

.catalog-filter-group {
    border: none;
    margin-right: 20px;
    padding: 0;
}

.catalog-filter-button {
    align-self: center;
}


.button-filters {
    font-weight: 700;
    padding: 8px 53px;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 26px;
}

.button-filters:hover {
    background: #FCFCFC;
    border: 2px solid rgb(100%, 69%, 76%, 0.3);
}

.button-filters:focus {
    border: 2px solid #2D3440;
}

.button-filters:disabled {
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
}



/* catalog */

.product-card {
    border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.product-card-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 91px 30px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
}

.product-card-item {
    background: #FCFCFC;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    width: 270px;
    height: 281px;
}

.pagination {
    display: flex;
    list-style: none;
}

.pagination-wrap {
    display: flex;
    justify-content: space-between;
    padding: 41px;
    padding-left: 494px;
    padding-right: 0;
}

.pagination element {
    display: flex;
}

.pagination-item {
    margin-left: 8px;
}

.pagination-link {
    text-decoration: none;
    color: #2D3440;
    padding: 2px 8px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.pagination-link:hover {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #FCFCFC;
}

.pagination-link:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #2D3440;
}

.pagination-disabled {
    opacity: 0.2;
}

.pagination-current {
    background: #FCFCFC;
    border-radius: 50%;
    padding: 2px 8px;
}

.reverse {
    transform: scale(-1,1);
}






